{% extends "master.html" %}
{% block content %}
<div class="container isben-style-e38603">
  
  <div class="mb-4">
    <a href="{% url 'seleccionar_empresa_tendero' %}" class="btn btn-light isben-style-eb0b79">
      <i class="bi bi-arrow-left-circle-fill isben-style-af9af8"></i> Volver a Empresas
    </a>
  </div>

  <div class="text-center mb-5 isben-style-f6234f">
    <h2 class="isben-style-9aad7c">Catálogo de Productos</h2>
    <p class="isben-style-1e0220">Estás comprando directo a: <strong class="isben-style-c1e2dc">{{ empresa.razon_social }}</strong></p>
  </div>

  <!-- El formulario enviará los datos al Paso 3 -->
  <form action="{% url 'guardar_pedido_tendero' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="empresa_id" value="{{ empresa.id }}">
    
    <div class="row gy-4">
      {% for producto in productos %}
      <div class="col-md-4">
        <div class="glass-card isben-style-dc853f">
          <h4 class="isben-style-31c239">{{ producto.nombre_producto }}</h4>
          
          <!-- REGLAS DE STOCK INTELIGENTES -->
          {% if producto.stock_actual == 0 %}
              <div class="alert alert-danger isben-style-f74c4a">¡AGOTADO!</div>
              <p class="isben-style-816c84">Costo: ${{ producto.precio_mayorista }}</p>
              <div class="mb-3 text-start">
                <label class="isben-style-589c4f">Cantidad a pedir:</label>
                <input type="number" class="form-control" disabled placeholder="Sin stock">
              </div>

          {% else %}
              {% if producto.stock_actual < 10 %}
                  <div class="alert alert-warning isben-style-f74c4a">¡Últimas {{ producto.stock_actual }} unidades!</div>
              {% else %}
                  <p class="isben-style-816c84">Stock Disponible: {{ producto.stock_actual }}</p>
              {% endif %}
              
              <p class="isben-style-787287">Costo: ${{ producto.precio_mayorista }}</p>
              <div class="mb-3 text-start">
                <label class="isben-style-589c4f">Cantidad a pedir (0 si no deseas):</label>
                <input type="number" name="cantidad_{{ producto.id }}" class="form-control" min="0" max="{{ producto.stock_actual }}">
              </div>
          {% endif %}
          
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="text-center mt-5">
      <button type="submit" class="btn-login isben-style-a9f3f6">
        Confirmar Mi Compra
      </button>
    </div>
  </form>

</div>
{% endblock %}
