{% extends "master.html" %}

{% block title %}Agregar Producto - ISBEN Solutions{% endblock %}

{% block content %}
<div class="container isben-style-642b19">
    
    <div class="text-center mb-5 isben-style-f6234f">
        <h2 class="isben-style-9aad7c">Agregar Nuevo Producto</h2>
        <p class="isben-style-1e0220">Registra un nuevo ítem en tu inventario.</p>
    </div>

    <div class="glass-card isben-style-505fdf">
        <form action="" method="post">
            {% csrf_token %}
            
            {{ formulario.as_p }}
            
            <div class="isben-style-4459b1">
                <input type="submit" value="Guardar Producto" class="btn-login isben-style-a6f57b">
                <a href="{% url 'listar_productos_empresa' %}" class="btn-login isben-style-6f44c8">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
