{% extends "master.html" %}

{% block title %}Panel de Tendero - ISBEN Solutions{% endblock %}

{% block content %}
<div class="container isben-style-e38603">

  <div class="text-center mb-5 isben-style-f6234f">
    <h2 class="isben-style-9aad7c">Panel de Compras</h2>
    <p class="isben-style-1e0220">Bienvenido, <strong>{{ nombre_usuario }}</strong>.</p>
  </div>

  <div class="row gy-4">

    <div class="col-md-4">
      <div class="glass-card isben-style-ff9182">
        <h3 class="isben-style-884c7f">Realizar Compra</h3>
        <p class="isben-style-ffbeea">Explora el catálogo de distribuidores y haz tu pedido.</p>
        <div class="mt-auto isben-style-199b6f">
          <a href="{% url 'seleccionar_empresa_tendero' %}" class="btn-login isben-style-e94560">Ver Catálogo</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="glass-card isben-style-ff9182">
        <h3 class="isben-style-884c7f">Mis Pedidos</h3>
        <p class="isben-style-ffbeea">Revisa el estado de tus compras anteriores.</p>
        <div class="mt-auto isben-style-199b6f">
          <a href="{% url 'mis_pedidos_tendero' %}" class="btn-login isben-style-e94560">Ver Historial y Rastreo</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="glass-card isben-style-ff9182">
        <h3 class="isben-style-884c7f">Mi Negocio</h3>
        <p class="isben-style-ffbeea">Actualiza la información de tu local comercial.</p>
        <div class="mt-auto isben-style-199b6f">
          <a href="#" class="btn-login isben-style-e94560">Gestionar Local</a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
