{% extends "master.html" %}
{% load static %}

{% block title %}Iniciar Sesión - ISBEN{% endblock %}

{% block content %}
<!-- tarjeta central de Login -->
<div class="glass-card mt-4">

    <!-- logo principal de isben sin fondo -->
    <img src="{% static 'imagenes/bannerlogosinfondo.png' %}" alt="ISBEN Logo" class="logo-img">

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label class="isben-style-6eb6d7">Correo
                electrónico o Cédula:</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label class="isben-style-6eb6d7">Contraseña:</label>
            {{ form.password }}
        </div>
        <button type="submit" class="btn-login">Ingresar</button>
    </form>

    <div class="text-center mt-4">
        <a href="#" class="isben-style-0614e5">¿Olvidaste tu contraseña?</a>
        <br><br>
        <p class="isben-style-a40dc8">¿No tienes una cuenta?</p>
        <a href="{% url 'registro' %}" class="btn-login isben-style-dea7db">Regístrate aquí</a>
    </div>

</div>
{% endblock %}