{% extends "master.html" %}
{% load static %}

{% block title %}Iniciar Sesión - ISBEN{% endblock %}

{% block content %}
<!-- tarjeta central de Login -->
<div class="glass-card mt-4">

    <!-- logo principal de isben sin fondo -->
    <img src="{% static 'imagenes/bannerlogosinfondo.png' %}" alt="ISBEN Logo" class="logo-img">

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.password }}
        </div>
        <button type="submit" class="btn-login">Ingresar</button>
    </form>

    <div class="text-center mt-4">
        <a href="#" style="color: #FB4318; font-size: 0.9rem; font-weight: 600; text-decoration: none;">¿Olvidaste tu
            contraseña?</a>
    </div>

</div>
{% endblock %}