{% extends "master.html" %}
{% block content %}
<div class="container isben-style-e38603">
  
  <div class="mb-4">
    <a href="{% url 'hub' %}" class="btn btn-light isben-style-eb0b79">
      <i class="bi bi-arrow-left-circle-fill isben-style-af9af8"></i> Volver al Panel
    </a>
  </div>

  <div class="text-center mb-5 isben-style-f6234f">
    <h2 class="isben-style-9aad7c">Mis Pedidos</h2>
    <p class="isben-style-1e0220">Rastrea el estado de tus compras directas a empresas.</p>
  </div>

  <div class="row gy-4">
    {% if pedidos %}
        {% for pedido in pedidos %}
        <div class="col-md-6">
          <div class="glass-card isben-style-4cd736">
            
            <h4 class="isben-style-5287f8">Pedido #{{ pedido.id }}</h4>
            <p class="isben-style-323c95">{{ pedido.fecha_hora_emision }}</p>
            
            <p class="isben-style-7d2d11"><strong>Total:</strong> ${{ pedido.total_pedido }}</p>
            <p class="isben-style-b0473a"><strong>Vía:</strong> {{ pedido.metodo_generacion }}</p>
            
            <!-- Lógica visual de Rastreo de Estados -->
            <div class="isben-style-86fd43">
                <p class="isben-style-7e7fb6">Estado Actual del Envío:</p>
                
                {% if pedido.estado_pedido == 'Recibido por Empresa' %}
                    <span class="badge bg-secondary isben-style-33dd45">Recibido por Empresa (En Cola)</span>
                {% elif pedido.estado_pedido == 'Preparando Envío' %}
                    <span class="badge bg-warning text-dark isben-style-33dd45">Preparando Envío</span>
                {% elif pedido.estado_pedido == 'En Camino' %}
                    <span class="badge bg-primary isben-style-33dd45">En Camino a tu Local</span>
                {% elif pedido.estado_pedido == 'Entregado' %}
                    <span class="badge bg-success isben-style-33dd45">Entregado Exitosamente</span>
                {% else %}
                    <span class="badge bg-info isben-style-33dd45">{{ pedido.estado_pedido }}</span>
                {% endif %}
            </div>

          </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col-12 text-center">
            <div class="glass-card isben-style-96e9ac">
                <h4 class="isben-style-c1e2dc">Aún no tienes pedidos</h4>
                <p>Anímate a explorar el catálogo de nuestras empresas asociadas.</p>
                <a href="{% url 'seleccionar_empresa_tendero' %}" class="btn-login isben-style-b82a9f">Ver Catálogo</a>
            </div>
        </div>
    {% endif %}
  </div>

</div>
{% endblock %}
