{% extends "master.html" %}

{% block title %}Mis Productos - ISBEN Solutions{% endblock %}

{% block content %}
<div class="container isben-style-e38603">
    
    <div class="text-center mb-5 isben-style-f6234f">
        <h2 class="isben-style-9aad7c">Mi Inventario</h2>
        <p class="isben-style-1e0220">Aquí puedes revisar tu catálogo de productos.</p>
        <a href="{% url 'hub' %}" class="btn-login isben-style-e77979">Volver al Panel</a>
        <a href="{% url 'crear_producto' %}" class="btn-login isben-style-23ddc3">+ Agregar Producto</a>
    </div>

    <div class="glass-card isben-style-628dce">
        <table class="table isben-style-ee75ab">
            <thead>
                <tr class="isben-style-884c7f">
                    <th class="isben-style-087bdd">SKU</th>
                    <th class="isben-style-087bdd">Nombre del Producto</th>
                    <th class="isben-style-087bdd">Precio (Mayorista)</th>
                    <th class="isben-style-087bdd">Stock Disponible</th>
                </tr>
            </thead>
            <tbody>
                {% for p in productos %}
                <tr onmouseover="this.style.backgroundColor='rgba(255, 255, 255, 0.8)'" onmouseout="this.style.backgroundColor='rgba(255, 255, 255, 0.5)'" class="isben-style-c4b046">
                    <td class="isben-style-4fe5f8">{{ p.codigo_sku }}</td>
                    <td class="isben-style-5b2b09">{{ p.nombre_producto }}</td>
                    <td class="isben-style-eef0be">${{ p.precio_mayorista }}</td>
                    <td class="isben-style-eba243">{{ p.stock_actual }} un.</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="isben-style-41e54b">No has registrado productos todavía.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
