{% extends "master.html" %}
{% block content %}
<div class="container isben-style-e38603">
  
  <div class="mb-4">
    <a href="{% url 'hub' %}" class="btn btn-light isben-style-eb0b79">
      <i class="bi bi-arrow-left-circle-fill isben-style-af9af8"></i> Volver al Panel
    </a>
  </div>

  <div class="text-center mb-5 isben-style-f6234f">
    <h2 class="isben-style-9aad7c">Empresas Asociadas</h2>
    <p class="isben-style-1e0220">Selecciona la empresa con la que trabajarás hoy.</p>
  </div>

  <div class="row gy-4">
    {% for info in empresas_info %}
    <div class="col-md-4">
      <div class="glass-card isben-style-dc853f">
        <h3 class="isben-style-884c7f">{{ info.empresa.razon_social }}</h3>
        
        <div class="mt-4">
            <!-- REGLA 1: Si NO requiere aprobación (Abierta) o si ya fue 'Aprobado' -->
            {% if info.requiere_aprobacion == False or info.estado_solicitud == 'Aprobado' %}
                <p class="isben-style-e7c919">¡Tienes acceso a su catálogo!</p>
                <a href="{% url 'seleccionar_tendero' info.empresa.id %}" class="btn-login isben-style-8201e3">Empezar Ruta</a>
            
            <!-- REGLA 2: Si es Estricta y ya envió solicitud, pero sigue 'Pendiente' -->
            {% elif info.estado_solicitud == 'Pendiente' %}
                <p class="isben-style-e7c919">Revisando tus credenciales...</p>
                <button class="btn btn-secondary isben-style-1890ac" disabled>Esperando Aprobación</button>
                
            <!-- REGLA 3: Si es Estricta y NO tiene solicitud enviada (o fue Rechazado) -->
            {% else %}
                <p class="isben-style-e7c919">Acceso Restringido</p>
                <!-- Este botón llama a la vista para crear la solicitud -->
                <a href="{% url 'enviar_solicitud' info.empresa.id %}" class="btn btn-warning isben-style-c0eb95">Solicitar Permiso</a>
            {% endif %}
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
