{% extends "master.html" %}

{% block title %}Seleccionar Cliente - ISBEN Solutions{% endblock %}

{% block content %}
<div class="container isben-style-e38603">
  
  <div class="mb-4">
    <a href="{% url 'seleccionar_empresa' %}" class="btn btn-light isben-style-eb0b79">
      <i class="bi bi-arrow-left-circle-fill isben-style-af9af8"></i> Volver a Empresas
    </a>
  </div>

  <div class="text-center mb-4 isben-style-f6234f">
    <h2 class="isben-style-9aad7c">Selecciona tu Cliente</h2>
    <p class="isben-style-1e0220">¿Para cuál tendero vas a registrar el pedido hoy?</p>
    
    <!-- Formulario de Búsqueda -->
    <form method="GET" class="mt-4 isben-style-a4601b">
      <input type="text" name="q" value="{{ q }}" class="form-control isben-style-cb968a" placeholder="Buscar por nombre de tienda...">
      <button type="submit" class="btn-login isben-style-c9dd40">Buscar</button>
      {% if q %}
      <a href="{% url 'seleccionar_tendero' empresa_id %}" class="btn btn-light isben-style-a6bb40">Ver Todos</a>
      {% endif %}
    </form>
  </div>

  <div class="row gy-4">
    
    <!-- Usamos un ciclo FOR como aprendiste en clase para recorrer la lista -->
    {% for tendero in tenderos %}
    <div class="col-md-4">
      <div class="glass-card isben-style-ff9182">
        
        <h3 class="isben-style-884c7f">{{ tendero.nombre_local }}</h3>
        <p class="isben-style-ffbeea">
          RUC: {{ tendero.ruc_negocio }} <br>
          Dirección: {{ tendero.direccion_fisica }}
        </p>
        
        <div class="mt-auto isben-style-199b6f">
          <!-- Conectamos este botón al Paso 2, enviando el ID de la empresa y del tendero -->
          <a href="{% url 'crear_pedido' empresa_id tendero.id %}" class="btn-login isben-style-e94560">Seleccionar</a>
        </div>
        
      </div>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
