{% extends "master.html" %}
{% block content %}
<div class="container isben-style-e38603">
  
  <div class="mb-4">
    <a href="{% url 'hub' %}" class="btn btn-light isben-style-eb0b79">
      <i class="bi bi-arrow-left-circle-fill isben-style-af9af8"></i> Volver al Panel
    </a>
  </div>

  <div class="text-center mb-5 isben-style-f6234f">
    <h2 class="isben-style-9aad7c">Empresas Distribuidoras</h2>
    <p class="isben-style-1e0220">Selecciona la empresa a la que deseas comprarle hoy.</p>
  </div>

  <div class="row gy-4">
    {% for empresa in empresas %}
    <div class="col-md-4">
      <div class="glass-card isben-style-dc853f">
        <h3 class="isben-style-884c7f">{{ empresa.razon_social }}</h3>
        
        <div class="mt-4">
            <a href="{% url 'catalogo_tendero' empresa.id %}" class="btn-login isben-style-8201e3">Ver Productos</a>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
